In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('pima-indians-diabetes.csv')

In [3]:
from sklearn.preprocessing import normalize,scale

In [4]:
x=df.drop('Outcome',axis=1)

In [5]:
x.head()    # Dataların hepsinin birimleri farklı

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [6]:
# Burda makine öğrenmesi büyük rakamlara daha fazla değer verirken düşük değerlere az önem veriyor aslında burda biri daha kritik olabilir

In [7]:
# unitleri aynıya getirmek için scale kullanıyoruz biri kg biri basınç hepsi farklı o yüzden bunu yapmamız gerekiyor

In [8]:
yenix=scale(x)   # Bu komutla hepsi aynı unite gelmiş oldu

In [9]:
yenix    # veriler dağınık o yüzden dataframe çeviriyorz

array([[ 0.63994726,  0.84832379,  0.14964075, ...,  0.20401277,
         0.46849198,  1.4259954 ],
       [-0.84488505, -1.12339636, -0.16054575, ..., -0.68442195,
        -0.36506078, -0.19067191],
       [ 1.23388019,  1.94372388, -0.26394125, ..., -1.10325546,
         0.60439732, -0.10558415],
       ...,
       [ 0.3429808 ,  0.00330087,  0.14964075, ..., -0.73518964,
        -0.68519336, -0.27575966],
       [-0.84488505,  0.1597866 , -0.47073225, ..., -0.24020459,
        -0.37110101,  1.17073215],
       [-0.84488505, -0.8730192 ,  0.04624525, ..., -0.20212881,
        -0.47378505, -0.87137393]])

In [10]:
pd.DataFrame(yenix)   #Rakamların hepsini aynı scalaya getirdi ve hepsi df datadaki değerleriyle aynı şeyi temsil ediyor mesela age 50 ile 1.42 aynı şeyi temsil ediyor

,0,1,2,3,4,5,6,7
0,0.639947,0.848324,0.149641,0.907270,-0.692891,0.204013,0.468492,1.425995
1,-0.844885,-1.123396,-0.160546,0.530902,-0.692891,-0.684422,-0.365061,-0.190672
2,1.233880,1.943724,-0.263941,-1.288212,-0.692891,-1.103255,0.604397,-0.105584
3,-0.844885,-0.998208,-0.160546,0.154533,0.123302,-0.494043,-0.920763,-1.041549
4,-1.141852,0.504055,-1.504687,0.907270,0.765836,1.409746,5.484909,-0.020496
...,...,...,...,...,...,...,...,...
763,1.827813,-0.622642,0.356432,1.722735,0.870031,0.115169,-0.908682,2.532136
764,-0.547919,0.034598,0.046245,0.405445,-0.692891,0.610154,-0.398282,-0.531023
765,0.342981,0.003301,0.149641,0.154533,0.279594,-0.735190,-0.685193,-0.275760
766,-0.844885,0.159787,-0.470732,-1.288212,-0.692891,-0.240205,-0.371101,1.170732
767,-0.844885,-0.873019,0.046245,0.656358,-0.692891,-0.202129,-0.473785,-0.871374

In [11]:
normalized=normalize(x)

In [12]:
pd.DataFrame(normalized)    # 0 la 1 arasında değerler alacak şekilde datayı düzenledik

,0,1,2,3,4,5,6,7
0,0.033552,0.827625,0.402628,0.195722,0.000000,0.187893,0.003506,0.279603
1,0.008424,0.716040,0.555984,0.244296,0.000000,0.224079,0.002957,0.261144
2,0.040398,0.924097,0.323181,0.000000,0.000000,0.117658,0.003393,0.161591
3,0.006612,0.588467,0.436392,0.152076,0.621527,0.185797,0.001104,0.138852
4,0.000000,0.596386,0.174127,0.152361,0.731335,0.187622,0.009960,0.143655
...,...,...,...,...,...,...,...,...
763,0.042321,0.427443,0.321640,0.203141,0.761779,0.139236,0.000724,0.266623
764,0.013304,0.811526,0.465629,0.179600,0.000000,0.244788,0.002262,0.179600
765,0.026915,0.651352,0.387582,0.123811,0.602905,0.141037,0.001319,0.161492
766,0.006653,0.838285,0.399184,0.000000,0.000000,0.200257,0.002322,0.312694
767,0.007915,0.736052,0.554018,0.245351,0.000000,0.240602,0.002493,0.182034

In [13]:
x.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000

In [14]:
# Boyut küçültme PCA -t-SNE

In [15]:
x.shape

(768, 8)

In [16]:
from sklearn.decomposition import PCA

In [18]:
pca=PCA(3)   # Datayı 3 stüna indirdik

In [19]:
data2=pca.fit_transform(x)

In [20]:
data2

array([[-75.71465491, -35.95078264,  -7.26078895],
       [-82.3582676 ,  28.90821322,  -5.49667139],
       [-74.63064344, -67.90649647,  19.46180812],
       ...,
       [ 32.11319827,   3.3766648 ,  -1.58786446],
       [-80.21449431, -14.18601977,  12.3512639 ],
       [-81.30814972,  21.62149606,  -8.15276833]])

In [21]:
pd.DataFrame(data2)

             0          1          2
0   -75.714655 -35.950783  -7.260789
1   -82.358268  28.908213  -5.496671
2   -74.630643 -67.906496  19.461808
3    11.077423  34.898486  -0.053018
4    89.743788  -2.746937  25.212859
..         ...        ...        ...
763  99.237881  25.080927 -19.534825
764 -78.641239  -7.688010  -4.137227
765  32.113198   3.376665  -1.587864
766 -80.214494 -14.186020  12.351264
767 -81.308150  21.621496  -8.152768

[768 rows x 3 columns]

In [22]:
# Burda 8 stünlu datayla 3 stünlu data tamamen aynı şeyi ifade ediyor